<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjs.mapper.ClubMapper">

    <resultMap id="BaseResultMap" type="com.gjs.entity.Club" >
        <result column="club_id" property="clubId" />
        <result column="club_avatar" property="clubAvatar" />
        <result column="club_name" property="clubName" />
        <result column="introduction" property="introduction" />
        <result column="slogan" property="slogan" />
        <result column="president_id" property="presidentId" />
        <result column="create_time" property="createTime" />
        <result column="admin1" property="admin1" />
        <result column="admin2" property="admin2" />
        <result column="admin3" property="admin3" />
        <result column="state" property="state" />
    </resultMap>

    <sql id="Base_Column_List">
        club_id,
                club_avatar,
                club_name,
                introduction,
                slogan,
                president_id,
                create_time,
                admin1,
                admin2,
                admin3,
                state
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.gjs.entity.Club">
        INSERT INTO club
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != clubId and '' != clubId">
                club_id,
            </if>
            <if test="null != clubAvatar and '' != clubAvatar">
                club_avatar,
            </if>
            <if test="null != clubName and '' != clubName">
                club_name,
            </if>
            <if test="null != introduction and '' != introduction">
                introduction,
            </if>
            <if test="null != slogan and '' != slogan">
                slogan,
            </if>
            <if test="null != presidentId and '' != presidentId">
                president_id,
            </if>
            <if test="null != createTime and '' != createTime">
                create_time,
            </if>
            <if test="null != admin1 and '' != admin1">
                admin1,
            </if>
            <if test="null != admin2 and '' != admin2">
                admin2,
            </if>
            <if test="null != admin3 and '' != admin3">
                admin3,
            </if>
            <if test="null != state and '' != state">
                state
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != clubId and '' != clubId">
                #{clubId},
            </if>
            <if test="null != clubAvatar and '' != clubAvatar">
                #{clubAvatar},
            </if>
            <if test="null != clubName and '' != clubName">
                #{clubName},
            </if>
            <if test="null != introduction and '' != introduction">
                #{introduction},
            </if>
            <if test="null != slogan and '' != slogan">
                #{slogan},
            </if>
            <if test="null != presidentId and '' != presidentId">
                #{presidentId},
            </if>
            <if test="null != createTime and '' != createTime">
                #{createTime},
            </if>
            <if test="null != admin1 and '' != admin1">
                #{admin1},
            </if>
            <if test="null != admin2 and '' != admin2">
                #{admin2},
            </if>
            <if test="null != admin3 and '' != admin3">
                #{admin3},
            </if>
            <if test="null != state and '' != state">
                #{state}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM club
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="com.gjs.entity.Club">
        UPDATE club
        <set>
            <if test="null != clubId and '' != clubId">club_id = #{clubId},</if>
            <if test="null != clubAvatar and '' != clubAvatar">club_avatar = #{clubAvatar},</if>
            <if test="null != clubName and '' != clubName">club_name = #{clubName},</if>
            <if test="null != introduction and '' != introduction">introduction = #{introduction},</if>
            <if test="null != slogan and '' != slogan">slogan = #{slogan},</if>
            <if test="null != presidentId and '' != presidentId">president_id = #{presidentId},</if>
            <if test="null != createTime and '' != createTime">create_time = #{createTime},</if>
            <if test="null != admin1 and '' != admin1">admin1 = #{admin1},</if>
            <if test="null != admin2 and '' != admin2">admin2 = #{admin2},</if>
            <if test="null != admin3 and '' != admin3">admin3 = #{admin3},</if>
            <if test="null != state and '' != state">state = #{state}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM club
        WHERE id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM club
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM club
    </select>

</mapper>