<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjs.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.gjs.entity.User" >
        <result column="user_id" property="userId" />
        <result column="user_avatar" property="userAvatar" />
        <result column="name" property="name" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="sex" property="sex" />
        <result column="permit" property="permit" />
        <result column="grade" property="grade" />
    </resultMap>

    <sql id="Base_Column_List">
                user_id,
                user_avatar,
                name,
                account,
                password,
                phone,
                email,
                sex,
                permit,
                grade
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.gjs.entity.User">
        INSERT INTO user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != userId and '' != userId">
                user_id,
            </if>
            <if test="null != userAvatar and '' != userAvatar">
                user_avatar,
            </if>
            <if test="null != name and '' != name">
                name,
            </if>
            <if test="null != account and '' != account">
                account,
            </if>
            <if test="null != password and '' != password">
                password,
            </if>
            <if test="null != phone and '' != phone">
                phone,
            </if>
            <if test="null != email and '' != email">
                email,
            </if>
            <if test="null != sex and '' != sex">
                sex,
            </if>
            <if test="null != permit and '' != permit">
                permit,
            </if>
            <if test="null != grade and '' != grade">
                grade
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != userId and '' != userId">
                #{userId},
            </if>
            <if test="null != userAvatar and '' != userAvatar">
                #{userAvatar},
            </if>
            <if test="null != name and '' != name">
                #{name},
            </if>
            <if test="null != account and '' != account">
                #{account},
            </if>
            <if test="null != password and '' != password">
                #{password},
            </if>
            <if test="null != phone and '' != phone">
                #{phone},
            </if>
            <if test="null != email and '' != email">
                #{email},
            </if>
            <if test="null != sex and '' != sex">
                #{sex},
            </if>
            <if test="null != permit and '' != permit">
                #{permit},
            </if>
            <if test="null != grade and '' != grade">
                #{grade}
            </if>
        </trim>
    </insert>

    <delete id="delete" >
        DELETE FROM user
        WHERE user_id = #{id}
    </delete>

    <update id="update" parameterType="com.gjs.entity.User">
        UPDATE user
        <set>
            <if test="null != userId and '' != userId">user_id = #{userId},</if>
            <if test="null != userAvatar and '' != userAvatar">user_avatar = #{userAvatar},</if>
            <if test="null != name and '' != name">name = #{name},</if>
            <if test="null != account and '' != account">account = #{account},</if>
            <if test="null != password and '' != password">password = #{password},</if>
            <if test="null != phone and '' != phone">phone = #{phone},</if>
            <if test="null != email and '' != email">email = #{email},</if>
            <if test="null != sex and '' != sex">sex = #{sex},</if>
            <if test="null != permit and '' != permit">permit = #{permit},</if>
            <if test="null != grade and '' != grade">grade = #{grade}</if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="login" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        From user
        Where account = #{account} and
              password = #{password}
    </select>


    <select id="loadFromAccount" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user
        WHERE account = #{account}
    </select>




    <select id="load" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user
        WHERE user_id = #{id}
    </select>

    <select id="pageList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user
        LIMIT #{offset}, #{pageSize}
    </select>


    <select id="queryAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM user
    </select>


    <select id="pageListCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM user
    </select>

</mapper>